.npmrc
dist/
example/
node_modules/
android/.idea/
android/.gradle
android/build/
android/libs/
android/*.iml
android/local.properties
android/.settings
android/.project
android/.classpath
#-----------------------------------------#
#demo/android/app/build/
#demo/android/.gradle/

#gitignoring the demo while we arent altering it for the repo, will delete later
demo/*
#-----------------------------------------#
.jest/
coverage/
release/
docker/
.vscode
*.tgz
.idea
package-lock.json
