.npmrc
dist/
example/
node_modules/
android/.idea/
android/.gradle
android/build/
android/libs/
android/*.iml
android/local.properties
android/.settings
android/.project
android/.classpath
.jest/
coverage/
release/
docker/
.vscode
