src/
coverage/
android/libs/
android/.idea/
android/build/
android/android.iml
android/.gradle/
android/gradle/
android/gradlew
android/gradlew.bat
android/local.properties
ios/Rg4rn.xcworkspace
dist/tests/
docker/
.vscode/
release/
.prettierrc.js
jest.config.js
mockFetch.js
tsconfig.json
tsconfig.jest.json
.eslintrc.js
.gitignore
*.tgz
